@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 40% 10%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-white text-panoply-navy font-sans;
  }
}
